

header {
    background-color: rgb(206, 207, 207);
    display: inline;
    margin-right: px;
}

nav {
    position: relative;
    display: block;
    letter-spacing: 0.16rem;
    box-sizing: border-box;
}